{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img width="400" src="{% static 'portfolio/images/grad.jpg' %}"/></center>
      </div>
      <div class="carousel-item">
        <center><img src="{% static 'portfolio/images/skills_ontario.jpeg' %}"/></center>
      </div>
      <div class="carousel-item">
        <center><img width="500" src="{% static 'portfolio/images/diploma.jpeg' %}"/></center>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
  <center><h1>About Daniel</h1></center>
  <center>
    <a class="btn btn-light" href="{% static 'portfolio/files/resume.pdf' %}" target="_blank">View My Resume</a>
  </center>
  <h2>Notable Achievements</h2>
  <h3>Gold Medal: Skills Ontario Competition - Coding (2022)</h3>
  <p>
    The Skills Ontario Competition is a province-wide competition for high schools and colleges across Ontario to compete in different events related primarily to trades and 
    technology. I represented Durham College in the Coding competition. This tested my ability to build a flowchart mapping out the steps of a process, general coding knowledge,
    and coding ability. The project was to build a CRUD-based desktop or console application using object-oriented programming concepts that would communicate with a text file
    to store and retrieve data.
    <br/>
    View the results <a href="https://www.skillsontario.com/files/www/Results/2022_Results.pdf" target="_blank">here</a>.
  </p>

  <h2>My Education</h2>
  <h3>Computer Programming and Analysis (2019-2022)</h3>
  <h4>Durham College, Oshawa, ON</h4>
  <p>
    I am a 2022 graduate of Computer Programming and Analysis at <a href="https://durhamcollege.ca">Durham College</a>, where I graduated on the President's Honour Roll.
    In this program, I worked with several programming languages and technologies that are widely used in the industry. Some of the languages I worked with while studying
    were Java, C#, JavaScript, SQL, PHP, and COBOL. I learned the best practices for building a relational database in Microsoft SQL Server, PostgreSQL, and MySQL,
    build technical UML activity diagrams, class diagrams, and activity diagrams. I got a lot of practice in building websites that would run on Apache HTTP Server and Tomcat,
    and also experiment with web frameworks including Spring, ASP.NET, Node.js, and Laravel.
  </p>

  <h2>My Work Experience</h2>
  <h3>IT Developer-External Contractor (Aug 2022-Present)</h3>
  <h4>Scotiabank/Dawn InfoTek, Scarborough, ON</h4>
  <p>
    I started work at Scotiabank, contracted through Dawn InfoTek on a 6 month contract as an IT Developer. My role primarly involves working on a team of mainframe developers
    to maintain the COBOL infrastructure within the bank. My tasks include making updates to COBOL applications, support the testers and fix defects as they appear, and 
    be available to support the implementation. On a rotating basis, I stay available for on-call support after hours in the event of job failures or support needed in my
    team's applications.
  </p>

  <h3>Peer Tutor (Sept 2021-Apr 2022)</h3>
  <h4>Durham College, Oshawa, ON</h4>
  <p>
    I worked part-time at Durham College in my third year as a Peer Tutor. In this role, I facilitated one-on-one tutoring sessions for first and second-year students in
    the Computer Programming stream. I would run hour long sessions that would focus on helping the students gain further understanding of the courses and topics they are 
    in need of assistance in. I most often tutored students in courses that would teach concepts of SQL, C#, Java, C++, and Python.
  </p>

  <h3>AI Research Assistant (May 2021-Aug 2021)</h3>
  <h4>Durham College, Oshawa, ON</h4>
  <p>
    I worked at the AI Hub at Durham College during the summer of 2021 under the co-operative education (co-op) program. My role focused on researching technologies
    in Artifical Intelligence, and I would assist in the development of projects managed by the AI Hub and provide testing for the chatbots that were built with the
    help of the college.
  </p>

  <h2>Volunteer Experience</h2>
  <h3>Program Advisory Committee, Computer Programming (Sept. 2021-Present)</h3>
  <h4>Durham College, Oshawa, ON</h4>
  <p>
    I am in my second year as a member of the Computer Programming Program Advisory Committee (PAC) at Durham College. I currently serve as alumni representative and previously
    served as student representative during the 2021-2022 academic year. The PAC consists of faculty, students, alumni, and industry representatives and we meet 2-3 times
    per year to discuss emerging topics in the industry and how they can be integrated into the programs to better support the students to get into the industry after graduation.
  </p>

  <h2>Relevant Skills</h2>
  <ul>
    <li>Ability to develop and maintain code</li>
    <li>Strong familiarity of object-oriented programming concepts in languages including Java, Python C#, and C++</li>
    <li>Experience building web applications using MVC frameworks including Spring, Laravel, and Django</li>
    <li>Strong familiarity of building and maintaining relational database systems in Microsoft SQL Server, PostgreSQL, and MySQL</li>
    <li>Experience in writing and maintaining mainframe applications using COBOL and JCL.</li>
    <li>Strong ability to communicate effectively both verbally and in writing</li>
    <li>Strong ability to work independently and in teams to complete tasks and achieve goals</h1>
  </ul>

  <h2>Professional Development</h2>
  <ul>
    <li>Learning Java, LinkedIn Learning (July 2020)</li>
    <li>Python Essential Training, LinkedIn Learning (July 2020)</li>
    <li>Learning C++, LinkedIn Learning (May 2020)</li>
</div>
{% endblock content %}