{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img width="400" src="{% static 'portfolio/images/grad.jpg' %}"/></center>
      </div>
      <div class="carousel-item">
        <center><img src="{% static 'portfolio/images/skills_ontario.jpeg' %}"/></center>
      </div>
      <div class="carousel-item">
        <center><img width="500" src="{% static 'portfolio/images/diploma.jpeg' %}"/></center>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
  <center><h1>About Daniel</h1></center>

  <h2>Notable Achievements</h2>
  <h3>Gold Medal: Skills Ontario Competition - Coding (2022)</h3>
  <p>
    
  </p>

  <h2>My Education</h2>
  <h3>Computer Programming and Analysis, Durham College (2019-2022)</h3>
  <p>
    I am a 2022 graduate of Computer Programming and Analysis at <a href="https://durhamcollege.ca">Durham College</a>, where I graduated on the President's Honour Roll.
    In this program, I worked with several programming languages and technologies that are widely used in the industry. Some of the languages I worked with while studying
    were Java, C#, JavaScript, SQL, PHP, and COBOL. I learned the best practices for building a relational database in Microsoft SQL Server, PostgreSQL, and MySQL,
    build technical UML activity diagrams, class diagrams, and activity diagrams. I got a lot of practice in building websites that would run on Apache HTTP Server and Tomcat,
    and also experiment with web frameworks including Spring, ASP.NET, Node.js, and Laravel.
  </p>
</div>
{% endblock content %}