{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Daniel Hinbest">
    <title>{% block title %} {% endblock %} - Daniel Hinbest's Developer Portfolio</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'portfolio/images/computer.ico' %}"/>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
    <link href="{% static 'portfolio/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/css/carousel.css' %}" rel="stylesheet">

  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. 
            Make it a few sentences long so folks can pick up some informative tidbits. 
            Then, link them off to some social networking sites or contact information. <a href="{% url 'portfolio:about' %}"><font color="white">Read more</font></a></p>
          <br/>
          <p><a class="text-white" href="{% static 'portfolio/files/resume.pdf' %}" target="_blank">View my resume</a></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/daniel-hinbest/" class="text-white" target="_blank"><img height="33" width="33" src="{% static 'portfolio/images/linkedin.png' %}"/>LinkedIn</a></li>
            <li><a href="#" class="text-white"><img height="25" src="{% static 'portfolio/images/email.png' %}"/>Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="col-sm-4 offset-md-1">
      <a href="{% url 'portfolio:index' %}" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'portfolio/images/computer.jpeg' %}" width="20" height="20"fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"/>
        <strong>Daniel Hinbest's Developer Portfolio</strong>
      </a>   
    </div>
      {% if user.is_authenticated %}
      <a class="navbar-toggler btn btn-light" href="{% url 'portfolio:create_post' %}">Create Post</a>
      <a class="navbar-toggler btn btn-light" href="{% url 'portfolio:logout' %}">Logout</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  {% block content %}
  {% endblock content %}  
</main>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; {% now "Y" %} Daniel Hinbest</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/daniel-hinbest/" target="_blank"><img class="bi" width="40" height="40" src="{% static 'portfolio/images/linkedin.png' %}"/></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img class="bi" width="40" height="40" src="{% static 'portfolio/images/email.png' %}"/></a></li>
    </ul>
  </footer>
</div>

    <script src="{% static 'portfolio/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>