/**
 * carousel.css
 * 
 * This file contains the CSS styles for the carousel component. It includes styles for the 
 * carousel container, wrapper, content, and navigation arrows.
 * 
 * Author: Daniel Hinbest
 * Date: August 17, 2024
 */

/* Container for the entire carousel */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Wrapper for the carousel, centering its content */
.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Wrapper for the carousel content, ensuring overflow is hidden */
.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
}

/* Carousel content, with transition for smooth sliding */
.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

/* Each item in the carousel content takes full width */
.carousel-content > * {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Images in the carousel content take full width and maintain aspect ratio */
.carousel-content img {
    width: 100%;
    height: auto;
}

/* Styling for the navigation arrows */
.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

/* Positioning for the left navigation arrow */
.left-arrow {
    left: 10px;
}

/* Positioning for the right navigation arrow */
.right-arrow {
    right: 10px;
}